.root {
    -fx-background-color: #112943;
}

.button {
    -fx-background-color: "white";
    -fx-background-radius: 5;
    -fx-text-fill: #4E4E50;
    -fx-background-insets: 0,1,2;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.label {
    -fx-text-fill: "white";
}